@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff;
  --color-header: #1a1a1a;
  --color-footer: #000000;
  --color-footer-text: #ffffff;
  --color-accent: #bc8b34;
  --color-accent-text: #1a1a1a;
}
